body {
  font-family: "sans-serif";
}

.editor {
    display: flex;
}

.editor > * {
    flex-grow: 1;
}

.input {
    margin-right: 20px;
}

.input textarea {
    width: 100%;
    min-height: 300px;
}

.rendered {
    border: 1px solid black;
    padding: 20px;
}

.rendered.error {
    border-color: red;
}

textarea {
    background: white;
    color: black;
}

.element-editor {
    margin-top: 20px;
}

.elment-path {
    margin-bottom: 5px;
}

.element-path > *+*::before {
    content: " > "
}

.element-path > :last-child {
    font-weight: bold
}
